/* Fondo y texto general */
body{
    background-color: black;
    color: white;
    font-family: Arial;
}

/* Título principal */
h1{
    text-align: center;
}

/* Subtítulos */
h2{
    text-align: center;
}

/* Párrafos */
p{
    text-align: center;
}

/* Imágenes */
img{
    display: block;
    margin: auto;
    width: 300px;
}